
:root {
    --branco-principal:#FFFFFF;
    --cinza-segundario:#C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C;
    --fonte-principal:'Inter';
    --botao-azul-efeito: #77adef;
 
    *{
        margin: 0;
        padding: 0;

    }
    
 }
 
 body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
 }

 .principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
   

 }

 .container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
 }

 .container__botao {
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    background-color: var(--botao-azul);
    text-decoration: none;
    display: block;
    font-family: var(--fonte-principal);
    margin-bottom:1em;
  
   

 }

.botao__secundario{
    display: block;
    padding: 1em;
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    text-decoration: none;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    border-radius: 5px;

}
.container__aviso{
    font-size: 12px;
    color: var(--cinza-segundario)
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 0 6em;
}
.imagem__plataforma{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;

}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao_texto{
    color: var(--cinza-segundario);
}
.container__descricao{
    padding: 2em;
}

.secundario__botao{
    display: inline-block;
    margin: 1em;

}
.imagem__notebook{
    margin: 0 7em;
}

.dipositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dipositivos__titulos{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
    
    
}
.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    
    

}

.lista__link{
    list-style-type: none;
    margin: 2em 0.5em;
    color: var(--branco-principal);
  
}

.conteudo__link{
    text-decoration: none;
    color: var(--branco-principal);
    
}

.lista__link a:hover{
    color: var(--botao-azul)
}
.lista__link a:active{
    color: rgb(186, 178, 178);
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.botao__secundario:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);

}

